{% extends 'base.html.twig' %}
{% block body %}
<div class="bgded overlay" style="background-image:url('{{ asset('images/demo/backgrounds/entrep01.jpg') }}')"> 
  <section id="breadcrumb" class="hoc clear"> 
    <h6 class="heading">Idée d'entreprise</h6>
    <ul>
      <li><a href="{{ path('accueil') }}">Accueil</a></li>
      <li><a href="{{ path('entreprises') }}">entreprises</a></li>
      <li><a href="">{{ post.title }}</a></li>
    </ul>
  </section>
</div>
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <div class="content"> 
      <h1>{{ post.title | raw }}</h1>De {{ post.member.pseudo }}
      <span>Le {{ post.createdAt | date ('d/m/Y') }}</span>
      <img class="imgr borderedbox inspace-5" src="{{ post.image }}" style="width: 300px; height: 300px"  alt="">
      <p>{{ post.content | striptags }} </p> 
      <div>
        <a href="{{ path('like', {'id' : post.id}) }}" class="btn-link js-like" style="color: blue;">
          {% if app.user and post.isLikedByMember(app.user) %}
            <i class="fas fa-thumbs-up"></i>
          {% else %}
            <i class="far fa-thumbs-up"></i>
          {% endif %}
          <span class="js-likes">{{ post.likes | length }}</span>
          <span class="js-label">J'aime</span>
        </a>
      </div>     
      <div id="comments">
          {% if app.user %}
          <br>
          <h2>Ecrire un commentaire</h2>

          {{ form_start(formComment) }}
          {{ form_row(formComment.content, {'label': 'Ecrivez votre commentaire','attr':{'placeholder': 'Votre commentaire'}}) }}
          <button type="submit" class="btn btn-success">Commenter</button>
          {{ form_end(formComment) }}

        {% else %}
          <a href="{{ path('login') }}">veuillez vous identifier pour ecrire un commentaire</a>
        {% endif %}
      </div>
        <h2>{{ comments | length }} Commentaires</h2>
        <ul>
            {% for comment in comments %}
            <li>
              <article>
                <header>
                  <figure class="avatar"><img class="img-prof" src="{{ comment.member.photo }}" width="80" height="80" border="0" alt=""></figure>
                  <address>
                  Par <a href="#">{{ comment.member.pseudo }}</a>
                  </address>
                  <p>Le {{ comment.createdAt | date ('d/m/Y') }}</p>
                </header>
                <div class="comcont">
                  <p>{{ comment.content }}</p>
                  <hr> 
                <span class="signaturecom"><strong>Signature:</strong> {{ comment.member.signature }}</span>
                <hr>
                </div>
              </article>
            </li> 
            {% endfor %}
        </ul>
        {{ knp_pagination_render(comments) }}
    </div>
    <div class="clear"></div>
  </main>
</div>        
{% endblock %}
