{% extends 'base-back.html.twig' %}

{% block body %}

	<body>
		<div class="container">
			<div>
				<center>
					<div class="card" style="width: 18rem;">
						<img src="{{ asset('user_image/' ~ app.user.photo) }}" class="card-img-top" alt="...">

						<button class="buttontest">Ajouter/changer</button>
						<div class="add-pic">
							{{ form(formupload) }}
							</div>
							<div class="card-body">
								<h5 class="card-title">Mes Informations</h5>
							</div>
							<ul class="list-group list-group-flush">
								<li class="list-group-item">Pseudo :
									{{ app.user.pseudo }}</li>
								<li class="list-group-item">Nom :
									{{ app.user.nom }}</li>
								<li class="list-group-item">Prenom :
									{{ app.user.prenom }}</li>
								<li class="list-group-item">Date d'inscription :
									{{ app.user.createdAt | date ('d/m/Y') }}</li>
								<li class="list-group-item">Email :
									{{ app.user.mail }}</li>
								<li class="list-group-item">Signature :
									{{ app.user.signature }}</li>
								<center class="signature" style="text-align:center">
									{{ form(formsignature) }}
								</center>
								</ul>
								<div class="card-body">
									<button class="upsignature" class="card-link" class="upsignature">Ajouter/Changer signature</button>
								</div>
							</div>
							<br>
						</center>
					</div>
				</div>
			</div>


			<script type="text/javascript">
				$(function () {

$('.add-pic').hide();
$('.buttontest').one('click', function () {
$('.add-pic').show('slow/400/fast');
});

$('.signature').hide();
$('.upsignature').one('click', function () {
$('.signature').show('slow/400/fast');
});
});
			</script>


			<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		</body>
	</body>
</html>{% endblock %}
